* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1a19;
  background-image: url(./img/bg.png);
  background-repeat: no-repeat;
  background-position: 100% 150%;
}

nav {
  background-color: #3c3a39;
  display: flex;
  color: white;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.menu {
  margin: 1.5rem;
  height: 1 rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-around;
}

.intro1 {
  margin: 0.5rem;
  font-family: 'Crete Round', sans-serif;
  letter-spacing: 0.37px;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

.intro2 {
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff5e1;
}

.discription {
  margin: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.icons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin: 1rem;
}

li {
  margin: 0.5rem;
  width: 30px;
}
