* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

body {
  background-color: #1c1a19;
}

.section-1 {
  background-image: url(./img/bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 120%;
}

header {
  background-color: #3c3a39;
  display: flex;
  color: white;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.title {
  margin: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.menu {
  margin: 1.5rem;
  height: 1 rem;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-around;
}

.intro1 {
  margin: 120px 0 0 8px;
  font-family: "Crete Round", sans-serif;
  letter-spacing: 0.37px;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

.intro2 {
  margin: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff5e1;
}

.discription {
  max-width: 50%;
  margin: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.icons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem;
  width: 30px;
}

.icons > li {
  margin-right: 21px;
}

.section-two {
  background-color: white;
  width: 100%;
}

.main-part {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 24px;
  margin-bottom: 104px;
}

.placeholder-multistories {
  display: flex;
  justify-content: left;
  margin-top: 80px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.placeholder {
  max-width: 100%;
  max-height: 100%;
}

.recent-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.multistories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 1.5rem;
}

.multistories > h2 {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.multistories > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.main-part > h2 {
  color: #091e42;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-top: 120px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  line-height: 52px;
}

.main-part > p {
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-right: 1.5rem;
}

.languages-1 {
  align-content: center;
  display: flex;
  flex-direction: row;
}

.languages-1 > li {
  padding: 10px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  color: yellow;
  background-color: black;
  margin-right: 12px;
  border: 1px solid #8993a4;
  list-style: none;
}

.css {
  width: 49px;
}

.html {
  width: 56px;
}

.javascript {
  width: 95px;
}

.project1 {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  text-align: center;
  margin-top: 12px;
  padding: 12px;
  padding-top: 14px;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.cards-whole {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  /* background-image: url(./img/project-img.png); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.cards > h2 {
  margin-top: 84px;
  margin-bottom: 10px;
  margin-left: 1rem;
  margin-right: 16px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.cards > p {
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.cards-project {
  width: 100%;
  text-align: center;
  padding: 12px;
  align-self: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  background-color: #ff6b00;
  color: white;
}

.languages-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.languages-2 > li {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  border: none;
  color: white;
  background: rgba(137, 139, 137, 0.4);
  list-style: none;
  padding: 10px 10px;
  margin-left: 1em;
  margin-bottom: 10px;
}

.project_one {
  background-color: rgb(0, 0, 0, 80%);
  background-blend-mode: multiply;
  background-image: url("./img/project-screenshot.png");
}

.css2 {
  width: 49px;
}

.html2 {
  width: 56px;
}

.javascript2 {
  width: 95px;
}

.section-3 {
  background-image: url(./img/backgound-about-me.png);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position-x: 70vw;
  background-position-y: 110vh;
}

.about-me > h2 {
  margin-top: 120px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 24px;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.about-me > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 24px;
}

.about-me > button {
  flex-direction: row;
}

.resume > a {
  text-decoration: none;
  color: white;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 161px;
  height: 48px;
  margin-left: 1.5rem;
  text-align: center;
  justify-content: center;
  display: block;
  padding: 12px;
}

.sepration-line2 {
  margin-top: 215px;
  margin-left: 4.5rem;
  margin-bottom: 137px;
  width: 327px;
}

.language {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 110px;
  margin-right: 110px;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
}

.frameworks {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 110px;
  margin-right: 110px;
  justify-content: center;
  align-items: center;
}

.frameworks-1 {
  display: flex;
  align-items: center;
}

.box-1 {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
}

.frameworks-1 > h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 12px;
}

.skill {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 110px;
  margin-right: 110px;
  justify-content: center;
  align-items: center;
}

.language > h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

.frameworks > h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

.skill > h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

.languages-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
  list-style: none;
  color: white;
  font-family: "Inter", sans-serif;
}

.languages-3 > .one {
  margin-top: 45px;
  margin-bottom: 32px;
}

.languages-3 > .two {
  margin-bottom: 32px;
}

.languages-3 > .three {
  margin-bottom: 32px;
}

.languages-3 > .four {
  margin-bottom: 32px;
}

.languages-3 > .five {
  margin-bottom: 32px;
}

.skills {
  margin-right: 1.5rem;
  margin-top: 12px;
}

.project1:hover,
.project2:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border: 1px solid #ff6b00;
  cursor: pointer;
}

#resume:hover {
  background-color: #daa884;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.contact h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 120px 24px 73px 24px;
  color: #172b4d;
  text-align: center;
  min-height: 216px;
  justify-content: center;
}

.form-1 {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#name {
  padding: 12px;
  border: none;
  margin-bottom: 14px;
}

#email {
  padding: 12px;
  border: none;
  margin-bottom: 14px;
  margin-top: 39px;
}

#textarea-1 {
  padding: 12px;
  border: none;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: #fbf8f7;
  color: black;
}

input::placeholder {
  color: #979493;
}

#textarea-1::placeholder {
  color: black;
  font-weight: 400;
}

#get-in-touch {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  color: white;
  margin: 36px auto 124px;
  padding: 12px;
  border: none;
}

#get-in-touch:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border: 1px solid #ff6b00;
  cursor: pointer;
}

.spreation-line-4 {
  margin-bottom: 24px;
}

footer {
  background-color: white;
}

.icons-1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icons-1 > li {
  margin: 21px;
}

.Navigation {
  display: none;
}

/* Mobile menu styling */

.mobile_menu {
  background-color: #3c3a39;
  list-style: none;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.mobile_menu_link {
  color: #fff5e1;
  text-decoration: none;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 44px;
}

.mobile_menu_items {
  padding: 0.7em;
  border-bottom: 2px solid #6f6c6b;
  margin: 2em;
}

.close_container {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

.close {
  cursor: pointer;
}

.hide {
  display: none;
}

/* Popup desigining starts here !  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  /* z-index: 100; */
  background-color: #10161ba1;
  width: 100%;
  height: 100vh;
  transition: 0.3s ease-in-out all;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.backdrop-hidden {
  display: none;
}

.popup_background_container {
  background-color: rgb(0, 0, 0, 70%);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.main_popup_container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 80%;
  height: 600px;
  margin-top: 2em;
  padding: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
}

.popup_heading_container {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5em;
  align-items: center;
}

.popup_heading_container > span {
  font-size: 2rem;
  padding-right: 0.5em;
}

.popup_language_box {
  list-style: none;
  display: flex;
  margin-bottom: 0.5em;
}

.language_box_item {
  border: 0.5px solid #344563;
  font-size: 0.8rem;
  padding: 1em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-right: 1rem;
}

.popup_img {
  width: 100%;
  margin-bottom: 0.5em;
}

.popup_para {
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #344563;
  margin-bottom: 0.5em;
}

.popup_button_main_container {
  display: flex;
  justify-content: space-between;
}

.popup_buttons_container {
  background-color: #ff6b00;
  display: flex;
  align-items: center;
  padding: 8px 5px;
}

.popup_buttons {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  background: #ff6b00;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.popup_icons {
  margin-left: 1em;
}

.modal-hidden {
  display: none;
}

/* Form validation styling */

.error {
  font-size: 30px;
  margin-left: 180px;
}

/* responsive popup starts here */

@media screen and (min-width: 789px) {
  .popup_background_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_popup_container {
    background-color: white;
    height: 550px;
    width: 1156px;
    overflow: scroll;
    top: 55px;
    z-index: 110;
  }

  .popup_heading_container {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .language_box_item {
    padding: 0.5em 1em;
  }

  .popup_grid_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 9fr 1fr;
    column-gap: 25px;
    margin-bottom: 0;
    height: 75%;
  }

  .popup_img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
  }

  .popup_button_main_container {
    gap: 0.3em;
    justify-content: flex-start;
  }
}

.close_first_popup {
  position: fixed;
  top: 60px;
  left: 300px;
  z-index: 120;
}

/* Responsive design starts from there */

@media screen and (min-width: 789px) {
  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Popup settings */
  .close_first_popup {
    position: fixed;
    top: 120px;
    left: 1200px;
    z-index: 120;
  }

  /* setting ends */
  .mobile_menu {
    display: none;
  }

  .menu {
    display: none;
  }

  .Navigation {
    display: flex;
    text-decoration: none;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-right: 151px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .title {
    margin-left: 151px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .main {
    width: 100%;
    margin-left: 143px;
    margin-top: 100px;
    margin-bottom: 251px;
  }

  .intro2 {
    width: 566px;
    font-size: 32px;
  }

  @media screen and (min-width: 1080px) {
    .section-1 {
      background-image: url(./img/bg\ desktop-1.png);
      background-size: contain;
      background-position: 100% 20%;
      background-repeat: no-repeat;
      height: 798px;
    }
  }

  .icons {
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: -400px;
    gap: 20px;
    margin-left: 36px;
    transition: width 3s, height 3s, transform 5s;
  }

  .main-part {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-right: 143px;
  }

  .main-part > hr {
    flex-grow: 1;
    height: 1px;
    align-self: center;
    margin-top: 120px;
  }

  .recent-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .placeholder-multistories {
    margin-top: 0;
    margin-right: 0;
    margin-left: 90px;
    margin-bottom: 24px;
    display: inline-block;
  }

  .multistories {
    margin-top: 0;
    margin-right: 143px;
    gap: 24px;
  }

  .multistories > h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .multistories > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .cards-whole {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 1fr 1fr;
    margin-left: 90px;
    width: 100%;
    margin-bottom: 130px;
  }

  .cards-project {
    display: none;
  }

  .cards {
    height: 410px;
    cursor: pointer;
    width: 100%;
    background-image: url(./img/project-img-resized.png);
  }

  .cards:hover {
    background-blend-mode: normal;
    border: 2px solid black;
  }

  .cards:hover .languages-2 {
    display: none;
  }

  .cards:hover .data {
    display: none;
  }

  .cards:hover .para {
    display: none;
  }

  .cards:hover .html {
    display: none;
  }

  .cards:hover .css {
    display: none;
  }

  .cards:hover .javascript {
    display: none;
  }

  .cards-project:hover {
    background-color: #daa884;
  }

  .cards:hover .cards-project {
    display: block;
    margin-top: 355px;
  }

  .about-me {
    margin-left: 142px;
    margin-right: 732px;
  }

  .about-me > h2 {
    font-size: 72px;
  }

  .about-me > p {
    font-size: 20px;
    width: 565px;
  }

  @media screen and (min-width: 1200px) {
    .section-3 {
      background-color: #1c1a19;
      background-image: url(./img/about-me.png);
      background-position: 100% 20%;
    }
  }

  .sepration-line2 {
    width: 1000px;
    margin-left: 160px;
    margin-right: 160px;
  }

  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
  }

  .language {
    margin-bottom: 130px;
  }

  .frameworks {
    margin-bottom: 80px;
  }

  .skill {
    margin-bottom: 80px;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-1 {
    margin-top: 120px;
  }

  .contact > h2 {
    margin-left: 135px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }

  #get-in-touch {
    margin: 0;
    margin-right: 450px;
    padding: 20px;
    margin-bottom: 154px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }

  .icons:hover {
    width: 950px;
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .project_one {
    background-color: rgb(0, 0, 0, 80%);
    background-blend-mode: multiply;
    background-image: url("./img/project-screenshot.png");
  }
}
